<!DOCTYPE html>
<html>

<head>
  <title>Axon Ivy Html Dialog Editor</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="//unpkg.com/grapesjs/dist/css/grapes.min.css">
  <link rel="stylesheet" href="src/style.css">
</head>

<body>
  <div class="panel__top">
    <div class="panel__ivy-logo"><a href="https://www.axonivy.com"><img class="ivy-logo" src="src/axonivy-logo.svg"/></a></div>
    <div class="panel__basic-actions"></div>
    <div class="panel__devices"></div>
    <div class="panel__switcher"></div>
  </div>
  <div class="editor-row">
    <div class="editor-canvas">
      <div id="gjs">
        <h1> HelloWorld </h1>
        <h:body>
          <h:form>
            <h:outputLabel value="My Label:"></h:outputLabel>
            <h:inputText value="#{data.text}"></h:inputText>
          </h:form>
        </h:body>
      </div>
    </div>
    <div class="panel__right">
      <div class="layers-container"></div>
      <div class="styles-container"></div>
      <div class="traits-container"></div>
    </div>
  </div>
  <div id="blocks"></div>
  <script src="src/index.js"></script>
</body>

</html>