#gis {
    border: 3px solid #444;
    height: 100%
}

.gjs-cv-canvas {
    top: 0;
    width: 100%;
    height: 100%;
}

.gjs-block {
    width: auto;
    height: auto;
    min-height: auto;
}

.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
}
.panel__basic-actions {
    position: initial;
}

.editor-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 600px;
}
  
.editor-canvas {
    flex-grow: 1;
}
  
.panel__right {
    flex-basis: 230px;
    position: relative;
    overflow-y: auto;
}

.panel__switcher {
    position: initial;
}

.panel__devices {
    position: initial;
}

.panel__ivy-logo {
    position: initial;
    padding: 5px;
}

.ivy-logo {
  height: 30px;
}
  
/* Styling */
.gjs-one-bg {
    background-color: rgb(0, 112, 149);
}

.gjs-two-color {
    color: rgb(215, 229, 44)
}

/* Tertiary color for the background */
.gjs-three-bg {
    background-color: #fa0606;
    color: rgb(247, 7, 175);
  }
  
  /* Quaternary color for the text color */
  .gjs-four-color,
  .gjs-four-color-h:hover {
    color: #98e49c;
  }